# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/
venv/
.venv/
env/
.env

# SQLite database
*.db

# Node
frontend/node_modules/
frontend/package-lock.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/

# Logs
*.log
